{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-2">
  <div class="container px-4 px-lg-5 my-3">
    <div class="text-center text-white">
      <h1 class="h3 fw-bold">Style meets simplicity</h1>
      <p class="text-white-50 mb-0">Where fashion meets function</p>
    </div>
  </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                {% for category in categories %}
                <h3><a href="{% url 'category' category %}">{{ category }}</a></h3>
                {% endfor %}
                <br/><br/><br/><br/><br/>
            </div>
        </center>
    </div>
</div>
{% endblock %}