{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
<header class="bg-dark py-3">
  <div class="container-fluid px-4 px-lg-5 my-3">
    <div class="text-center text-white">
      <h1 class="h3 fw-bold">Shop is open</h1>
      <p class="text-white-50 mb-0">With this shop homepage template</p>
    </div>
  </div>
</header>

<!--leftsidebar-->
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <!-- Toggle button (поза nav) -->
    <div class="d-md-none m-2">
      <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#mobileSidebar">
        Categories
      </button>
    </div>

    <!-- Sidebar -->
    <nav id="mobileSidebar" class="collapse d-md-block col-md-3 col-lg-2 bg-light border-end min-vh-100">
      <h5 class="p-3">Categories</h5>
      <ul class="nav flex-column px-3">
        {% for category in categories %}
          <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'category' category.name %}">
              {{ category.name }}
            </a>
          </li>
        {% empty %}
          <li class="nav-item text-muted">Empty list</li>
        {% endfor %}
      </ul>
    </nav>

    <main class="col-12 col-md-9 col-lg-10 px-4">
        <!-- Section-->
        <section class="py-5">
            {% if searched %}
              <h6>Search results for "{{ searched }}"</h6>
            {% else %}
                {% if selected_category %}
                    <h6>Products in category {{ selected_category }}</h6>
                    {% else %}
                    <h6>Products </h6>
                {% endif %}
            {% endif %}
            <div class="container-fluid px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        {% for product in products %}

                        <div class="col mb-5">
                            <div class="card h-100 d-flex flex-column">
                                <!-- sale bage-->

                                <!-- Product image-->
                                {% if product.image %}
                                    {% if product.stock == 0 %}
                                        <div class="position-relative">
                                            <img class="card-img-top image-fixed-product opacity-50" src="{{ product.image.url }}" alt="...">
                                            <div class="position-absolute top-50 start-50 translate-middle bg-dark text-white px-2 py-1 rounded">Not available</div>
                                        </div>
                                    {% else %}
                                        {% if product.is_sale%}
                                            <div class="badge bg-danger text-white position-absolute fs-6" style="top: 0.5rem; right: 0.5rem">Sale</div>
                                        {% endif %}
                                        <img class="card-img-top image-fixed-product" src="{{ product.image.url }}" alt="..." />
                                    {% endif %}
                                {% else %}
                                <img class="card-img-top image-fixed-product" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                {% endif %}
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <!-- Product price-->
                                        {% if product.is_sale %}
                                        <div class="d-flex justify-content-center small text-danger mb-2">
                                            SALE!!!
                                        </div>
                                       <strike>€ {{ product.price }} $</strike>
                                    <!-- Product price-->
                                        € {{ product.sale_price}}
                                        {% else %}
                                        € {{ product.price }}
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer mt-auto p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto"
                                           href="{% url 'product_detail' product.id %}">Product details</a>

                                        <!-- possibility to disable button if stock==0 -->
<!--                                        {% if product.stock > 0 %}-->
<!--                                            <a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' product.id %}">Product details</a>-->
<!--                                        {% else %}-->
<!--                                            <button class="btn btn-outline-secondary mt-auto" disabled>Not available</button>-->
<!--                                        {% endif %}-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </section>

<!--Pagination-->
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center flex-wrap">

    {% if page_object.has_previous %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ page_object.previous_page_number }}{% if searched %}&searched={{ searched }}{% endif %}"
           aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo;</span>
      </li>
    {% endif %}

    {% for num in page_object.paginator.page_range %}
      {% if num >= page_object.number|add:"-2" and num <= page_object.number|add:"2" %}
        {% if num == page_object.number %}
          <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% else %}
          <li class="page-item"><a class="page-link"
                                   href="?page={{ num }}{% if searched %}&searched={{ searched }}{% endif %}">{{ num }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if page_object.has_next %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ page_object.next_page_number }}{% if searched %}&searched={{ searched }}{% endif %}"
           aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>

    </main>
  </div>
</div>

{% endblock %}