{% extends 'base.html' %}

{% block content %}

<header class="bg dark py-5" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-centre text-white">
            <h1 class="display-4 fw-bolder">shopping cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">view your cart</p>
        </div>
    </div>
</header>
<br/>
<div class="container">
    {% if cart_products %}
        {% for product in cart_products %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col md-8">
                <div class="card body">
                    <center>
                    <h5 class="card-title">{{ product.name }}</h5>
                        <br/>
                        <p class="cart-text justified">{{ product.description }}</p>
                        {% if product.is_sale %}
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                            <div class="bi-star-fill"></div>
                            </div>
                        <span>price per product</span>
                            <strike>
                            ${{ product.price }}
                            </strike>
                            &nbsp;
                            ${{ product.sale_price }}
                        {% else %}
                        <span>price per product</span>
                            ${{ product.price }}
                        {% endif %}
                    <br/><br/>
                        <div class="row justify-content-center">
                        <div class="row-md-2" >
                        {% for key, value in cart_quantities.items %}
                            {% if key == product.id|slugify %}
                                <div class="row-md-2">Quantity products in cart: {{ value }}</div>
                                {% if product.is_sale %}
                                    <div class="row-md-2">Price products in cart: {% widthratio value 1 product.sale_price %}</div>
                                {% else %}
                                    <div class="row-md-2">Price products in cart: {% widthratio value 1 product.price %}</div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                </div>
                <div class="col-md-2">
                    <div class="d-flex justify-content-center align-items-center gap-2" style="width: 150px;">
                      <button class="btn btn-outline-secondary px-3" data-id="{{ product.id }}" onclick="decreaseQty('{{ product.id }}')">−</button>
                      <input type="text" id="qty_input" data-id="{{ product.id }}" name="product_quantity"
 class="form-control text-center" value="1" style="width: 50px;">
                      <button class="btn btn-outline-secondary px-3"  onclick="increaseQty('{{ product.id }}')">+</button>
                    </div>
                </div>
                </div>
            <br/><br/>
        <a href="{% url 'home'%}" class="btn btn-secondary">Home</a>
        <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">Update</button>
        <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product">Remove</button>

                    </center>

            </div>
        </div>
    </div>
</div>

    {% endfor %}
    <div align="right">
    <h3>Total: ${{ totals }}</h3>
        <div class="card-body d-flex flex-column align-items-right">
            <a href="{% url 'delivery_info' %}" class="btn btn-success">Ordering</a>
            <br/><br/>
        </div>
    </div>
    <br/><br/><br/>
    {% else %}
    Your cart is empty
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endif %}
</div>

<script>
    function decreaseQty(product_id) {
    const input = document.querySelector(`input[data-id="${product_id}"]`);
    let value = parseInt(input.value);
    if (value > 1) input.value = value - 1;
  }

    function increaseQty(product_id) {
    const input = document.querySelector(`input[data-id="${product_id}"]`);
    input.value = parseInt(input.value) + 1;
  }
    //update cart

    $(document).on('click', '.update-cart', function(e){
    e.preventDefault();

    var productid = $(this).data('index');
    var quantity = document.querySelector(`input[data-id="${productid}"]`).value;
    $.ajax({
    type: 'POST',
    url: '{% url 'cart_update' %}',
    data:{
        product_id: productid,
        product_quantity: quantity,
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
    },
    success: function(json){
        location.reload();
    },
    error: function(xhr,errmsg, err){
    }
    });
})

    $(document).on('click', '.delete-product', function(e){
        e.preventDefault();

        $.ajax({
        type: 'POST',
        url: '{% url 'cart_delete' %}',
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            //document.getElementById("#cart_quantity").textContent = json.qty
            location.reload()
        },
        error: function(hxr, errmsg, err){
        }
        });
    })


</script>
{% endblock %}