{% extends 'base.html' %}

{% block content %}


<br/>
<div class="container">
    {% if cart_products %}
        {% for product in cart_products %}
    <div class="mb-3 compact-card mx-auto" style="max-width: 900px;">
        <div class="row g-0">
            <div class="col md-4">
                <div class="image-wrapper-cart mx-auto">
                    <img src="{{ product.image.url }}" class="img-fixed-card rounded-start" alt="">
                </div>
            </div>
            <div class="col md-8">
                <div class="card body">
                    <center>
                    <h5 class="card-title">{{ product.name }}</h5>
                        {% if product.is_sale %}
                            <div class="d-flex justify-content-center small text-danger mb-2">
                                SALE!!!
                            </div>
                        <span>price per product</span>
                            <strike>
                            € {{ product.price }}
                            </strike>
                            &nbsp;
                            € {{ product.sale_price }}
                        {% else %}
                        <span>price per product</span>
                            € {{ product.price }}
                        {% endif %}
                    <br/><br/>
                        <div class="row justify-content-center">
                        <div class="row-md-2" >
                        {% for key, value in cart_quantities.items %}
                            {% if key == product.id|slugify %}
                                <div class="row-md-2 ">Quantity products in cart: {{ value }}</div>
                                {% if product.is_sale %}
                                    <div class="row-md-2">Price products in cart: {% widthratio value 1 product.sale_price %}</div>
                                {% else %}
                                    <div class="row-md-2">Price products in cart: {% widthratio value 1 product.price %}</div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                </div>
                <div class="row-md-2 mt-2">
                    <div class="d-flex justify-content-center align-items-center gap-2" style="width: 150px;">
                      <button class="btn btn-outline-secondary px-3" data-id="{{ product.id }}" onclick="decreaseQty('{{ product.id }}')">−</button>
                      <input type="text" id="qty_input" data-id="{{ product.id }}" name="product_quantity"
 class="form-control text-center" value="1" style="width: 50px;">
                      <button class="btn btn-outline-secondary px-3"  onclick="increaseQty('{{ product.id }}')">+</button>
                    </div>
                </div>
                </div>
        <div class="mt-3 mb-3 ms-3 me-3">
        <a href="{% url 'home'%}" class="btn btn-secondary">Home</a>
        <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">Update</button>
        <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product">Remove</button>
        </div>
                    </center>

            </div>
        </div>
    </div>
</div>

    {% endfor %}
    <div align="right">
    <h3>Total: €{{ totals }}</h3>
        <div class="card-body x-flex flex-column align-items-right">
            <a href="{% url 'delivery_info' %}" class="btn btn-success">Ordering</a>
            <br/><br/>
        </div>
    </div>
    <br/><br/><br/>
    {% else %}
    Your cart is empty


{% endif %}
</div>

<script>
    function decreaseQty(product_id) {
    const input = document.querySelector(`input[data-id="${product_id}"]`);
    let value = parseInt(input.value);
    if (value > 1) input.value = value - 1;
  }

    function increaseQty(product_id) {
    const input = document.querySelector(`input[data-id="${product_id}"]`);
    input.value = parseInt(input.value) + 1;
  }
    //update cart

    $(document).on('click', '.update-cart', function(e){
    e.preventDefault();

    var productid = $(this).data('index');
    var quantity = document.querySelector(`input[data-id="${productid}"]`).value;
    $.ajax({
    type: 'POST',
    url: '{% url 'cart_update' %}',
    data:{
        product_id: productid,
        product_quantity: quantity,
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
    },
    success: function(json){
        location.reload();
    },
    error: function(xhr,errmsg, err){
    }
    });
})

    $(document).on('click', '.delete-product', function(e){
        e.preventDefault();

        $.ajax({
        type: 'POST',
        url: '{% url 'cart_delete' %}',
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            //document.getElementById("#cart_quantity").textContent = json.qty
            location.reload()
        },
        error: function(hxr, errmsg, err){
        }
        });
    })


</script>
{% endblock %}