{% extends 'base.html' %}
{% block content %}
<header>
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Billing information</h1>
            <p class="lead fw-normal text-white-50 mb-0">Enter your payment information</p>
        </div>
    </div>
</header>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <br/><br/>
            <div class="card">
                <div class="card-header">
                Delivery info
                </div>
            <div class="card-body">
                First name: {{ delivery_info.first_name }} <br/>
                Last name: {{ delivery_info.last_name }} <br/>
                Email: {{ delivery_info.email }} <br/>
                Phone: {{ delivery_info.phone }} <br/>
                Address: {{ delivery_info.street_home }} <br/>
                City: {{ delivery_info.city }} <br/>
                State: {{ delivery_info.state }} <br/>
                Zipcode: {{ delivery_info.zipcode }} <br/>
                Country: {{ delivery_info.country }} <br/>
            <br/>
            </div>
                <div class="card-body">
                Total: ${{ totals }}
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'process_order' %}">
                        {% csrf_token %}
                        {{ delivery_form.as_p }}

                        <button type="submit" name="action" value="pay_online" class="btn btn-primary">Pay now</button>
                        <button type="submit" name="action" value="pay_later" class="btn btn-primary">Make order, we will call you</button>
                    </form>
                    <br/><br/>
            </div>
            <br/>
            <br/>
            <br/><br/>

            </div>
        </div>
    </div>
</div>

{% endblock %}