{% extends 'base.html' %}
{% block content %}
<header>
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Order failed</h1>
            <p class="lead fw-normal text-white-50 mb-0">Something went wrong</p>
        </div>
    </div>
</header>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>We are sad. payment failed. </h2>
        </div>
        <br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;
    </div>
</div>
{% endblock %}