<!DOCTYPE html>
 {% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Welcome to My Website</h1>
        <h4>data1: {{ dummy_datas.data1.0 }}</h4>
        <h4>data2: {{ dummy_datas.data2.0 }}</h4>

        <h4><p>the same but not the same (loop work)</p></h4>
        {% for dummy in dummy_datas %}
        <p>data1: {{dummy.data1}}</p> and data2: <p>{{dummy.data2}}</p>
        {% endfor %}
        <a href="{% url 'about' %}">what it is all about?</a>
    </main>
	<script src="index.js"></script>
  </body>
</html>
